{%load static%}
<!DOCTYPE html>
<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
      <title>CSULB Classroom Finder</title>
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link href="{%static 'style.css'%}" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   </head>
   <body>
      <div id="background_image"></div>
      <div id="background_logo"></div>
      <div id="overlay"></div>

        {% block content %}{% endblock %}
      </body>
</html>