{% extends "web_app/base.html" %}
{% block content %}
<div class="page_container">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="POST">
            {% csrf_token %}
            <span class="form-title">
                  Find An Empty Classroom
                  </span>
            <div id="room_count">
                <div class="input_field_wrapper">
                    <label for="room_number">Room number</label>
                    <input autocomplete="off" class="input_field" id="room_number" name="room_number"
                           onkeyup="disableField(this.value, this.id)"
                           placeholder="Room #" type="text">
                </div>
                <div class="input_field_wrapper">
                    <label for="buildings">Building*</label>
                    <select class="input_field" id="buildings" name="building" required>
                        <option value="">Building</option>
                        {% for b in buildings %}
                        <option class="input_field" value="{{b.0}}">{{b.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="time">
                <div class="input_field_wrapper" id="from">
                    <label for="start_time">Start time</label>
                    <input autocomplete="off" class="input_field" id="start_time" name="start_time"
                           onkeyup=""
                           placeholder="From" type="time">
                </div>
                <div class="input_field_wrapper" id="to">
                    <label for="end_time">End time</label>
                    <input autocomplete="off" class="input_field" id="end_time" name="end_time"
                           onkeyup=""
                           placeholder="To" type="time">
                </div>
            </div>
            <div class="input_field_wrapper">
                <label for="day">Day*</label>
                <select class="input_field" id="day" name="day" required>
                    <option disabled="" selected value="">Day</option>
                    {% for day in days %}
                    <option value="{{day}}">{{day}}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="submit_button" onclick="submit" style="width: 50%;">Submit</button>
        </form>

    </div>
    {% if message %}
    <h2 class="message">{{message|safe}}</h2>
    {% endif %}
</div>
{% if results %}
<!-- Results table-->
{% include 'web_app/results_table.html' %}
<script>
    // window.scrollTo({left: 0, top: document.body.scrollHeight, behavior: "smooth"});
    // window.scrollTo({left: 0, top: '80vh', behavior: "smooth"});
    window.scrollBy({left: 0, top: 0.5 * window.innerHeight, behavior: "smooth"});
</script>
{% endif %}

<script type="text/javascript">
    $("#submit_button").click(function () {
        //start time
        let start_time = $("#start_time").val();

        //end time
        let end_time = $("#end_time").val();

        //convert both time into timestamp
        let stt = new Date("November 13, 2013 " + start_time);
        stt = stt.getTime();

        let endt = new Date("November 13, 2013 " + end_time);
        endt = endt.getTime();

        //by this you can see time stamp value in console via firebug
        console.log("Time1: " + stt + " Time2: " + endt);

        if (stt > endt) {
            alert("Start-time must be smaller then End-time.\nLeave time empty start time would be set to current time and end time is 30 minutes after!");
            return false;
        }
    });
</script>


<script type="text/javascript">
    function disableField(val, element_id) {
        if (element_id == 'room_number') {

            let time_fields = document.querySelectorAll("#time input");
            let time_label = document.querySelectorAll("#time");

            if (val.length > 0) {
                time_fields[0].value = '';
                time_fields[1].value = '';

                time_fields[0].disabled = true;
                time_fields[1].disabled = true;

                time_fields[0].classList.add("gray_bg", "gray_text");
                time_fields[1].classList.add("gray_bg", "gray_text");

                time_label[0].classList.add("gray_text");
                time_label[1].classList.add("gray_text");

            } else {
                time_fields[0].value = '';
                time_fields[1].value = '';

                time_fields[0].disabled = false;
                time_fields[1].disabled = false;

                time_fields[0].classList.remove("gray_bg", "gray_text");
                time_fields[1].classList.remove("gray_bg", "gray_text");
                time_label[0].classList.remove("gray_text");
                time_label[1].classList.remove("gray_text");

            }
        }
    }


    // window.onload = function time_value_change() {

    let time_fields = document.querySelectorAll("#time input");
    let room_number_field = document.querySelector("#room_number");
    let room_number_label = document.querySelectorAll("#room_count label")[0];

    /* event listener */
    time_fields[0].addEventListener('change', change_detected);

    time_fields[1].addEventListener('change', change_detected);

    function change_detected(val) {
        if (time_fields[0].value || time_fields[1].value) {
            room_number_field.value = '';
            room_number_field.disabled = true;
            room_number_field.classList.add("gray_bg", "gray_text");
            room_number_label.classList.add("gray_text");
        } else {
            room_number_field.value = '';
            room_number_field.disabled = false;
            room_number_field.classList.remove("gray_bg", "gray_text");
            room_number_label.classList.remove("gray_text");
        }

        // }
    }


    //Select today
    let d = new Date();
    let days = ['Monday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'];
    document.getElementById("day").value = days[d.getDay()];
</script>


{% endblock content%}


