{% extends "web_app/base.html" %}
{% block content %}
<div class="page_container">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="POST">
            {% csrf_token %}
            <span class="form-title">
                  Find An Empty Classroom
                  </span>
            <div id="room_count">
                <div class="input_field_wrapper">
                    <label for="room_number">Room number</label>
                    <input autocomplete="off" class="input_field" id="room_number" name="room_number"
                           onkeyup="disableField(this.value)"
                           placeholder="Room #" type="text">
                </div>
                <div class="input_field_wrapper">
                    <label for="buildings">Building*</label>
                    <select class="input_field" id="buildings" name="building">
                        <option value="">Building</option>
                        {% for b in buildings %}
                        <option class="input_field" value="{{b.0}}">{{b.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="time">
                <div class="input_field_wrapper" id="from">
                    <label for="start_time">Start time*</label>
                    <input autocomplete="off" class="input_field" id="start_time" name="start_time" placeholder="From"
                           type="time">
                </div>
                <div class="input_field_wrapper" id="to">
                    <label for="end_time">End time*</label>
                    <input autocomplete="off" class="input_field" id="end_time" name="end_time" placeholder="To"
                           type="time">
                </div>
                <div class="input_field_wrapper">
                    <label for="day">Day*</label>
                    <select class="input_field" id="day" name="day">
                        <option disabled="" selected value="">Day</option>
                        {% for day in days %}
                        <option value="{{day}}">{{day}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button id="submit_button" onclick="submit" style="width: 50%;">Submit</button>
        </form>
        {% if message %}
        <h2 class="error_message">{{message}}</h2>
        {% endif %}
        <section>
        </section>
    </div>
</div>
{% if results %}
<!-- Results table-->
{% include 'web_app/results_table.html' %}
{% endif %}

<script type="text/javascript">
    $("#submit_button").click(function () {
        //start time
        let start_time = $("#start_time").val();

        //end time
        let end_time = $("#end_time").val();

        //convert both time into timestamp
        let stt = new Date("November 13, 2013 " + start_time);
        stt = stt.getTime();

        let endt = new Date("November 13, 2013 " + end_time);
        endt = endt.getTime();

        //by this you can see time stamp value in console via firebug
        console.log("Time1: " + stt + " Time2: " + endt);

        if (stt > endt) {
            alert("Start-time must be smaller then End-time.\nLeave time empty start time would be set to current time and end time is 30 minutes after!");
            return false;
        }
    });
</script>


<script type="text/javascript">

    function disableField(val) {
        if (this.id = 'room_number') {
            var start_time = document.getElementById("start_time");
            var end_time = document.getElementById("end_time");

            if (val.length > 0) {
                start_time.disabled = true;
                end_time.disabled = true;
                start_time.classList.add("input_gray");
                end_time.classList.add("input_gray");
            } else {
                start_time.classList.remove("input_gray");
                end_time.classList.remove("input_gray");
                end_time.disabled = false;
                start_time.disabled = false;
            }
        }
        // else if (this.id in ['start_time', 'end_time']) {
        //     var room_number = document.getElementById("room_number");
        //     if (val.length > 0) {
        //         room_number.disabled = true;
        //         room_number.classList.add("input_gray");
        //     } else {
        //         room_number.classList.remove("input_gray");
        //         room_number.disabled = false;
        //     }
        // }

    }

</script>
<script>
    window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "smooth" });

</script>

{% endblock content%}