{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>test</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{%static 'style.css'%}" rel="stylesheet" type="text/css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div id="background_image"></div>
<div id="background_logo"></div>
<div id="overlay"></div>
<div class="page_container">
    <div class="wrap-contact100">

        <form class="contact100-form validate-form" method="POST"> {% csrf_token %}
            <span class="contact100-form-title">
               Find An Empty Classroom
               </span>
            <div id="roomcont">
                <div class="wrap-input100">
                    <label for="room_number">Room number</label>
                    <input autocomplete="off" class="input100" id="room_number" name="room_number" placeholder="Room #"
                           type="text">
                </div>
                <div class="wrap-input100">
                    <label for="buildings">Building</label>
                    <select class="input100" id="buildings" name="building" required>
                       <option value="" required>Building</option>
                        {% for b in buildings %}
                        <option class="input100" value="{{b.0}}">{{b.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="time">
                <div class="wrap-input100" id="from">
                    <label for="start_time">Start time</label>
                    <input autocomplete="off" class="input100" id="start_time" name="start_time" placeholder="From"
                           type="time" required>
                </div>
                <div class="wrap-input100" id="to">
                    <label for="end_time">End time</label>
                    <input autocomplete="off" class="input100" id="end_time" name="end_time" placeholder="To"
                           type="time" required>
                </div>
                <div class="wrap-input100">
                    <label for="day">Day</label>
                    <select class="input100" id="day" name="day" required>
                        <option disabled="" selected="true" value="">Day</option>
                        {% for day in days %}
                        <option value="{{day}}">{{day}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button onclick="submit" id="submit_button" style="width: 50%;">Submit</button>
        </form>
        <section>
        </section>
    </div>
</div>
<!--table-->
{% if results %}
{% include 'web_app/results_table.html' %}
{% endif %}


<script type="text/javascript">
    $("#submit_button").click(function () {
        //start time
        var start_time = $("#start_time").val();

        //end time
        var end_time = $("#end_time").val();

        //convert both time into timestamp
        var stt = new Date("November 13, 2013 " + start_time);
        stt = stt.getTime();

        var endt = new Date("November 13, 2013 " + end_time);
        endt = endt.getTime();

        //by this you can see time stamp value in console via firebug
        console.log("Time1: " + stt + " Time2: " + endt);

        if (stt > endt) {
            alert("Start-time must be smaller then End-time.\nLeave time empty start time would be set to current time and end time is 30 minutes after!");
            return false;
        }
    });
</script>

</body>