* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Playfair Display SC', serif;
}

#background_image {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    /*background-image: url("https://www.logolynx.com/images/logolynx/0c/0c23f35a7edaf493e331dc9900d7741e.png");*/
    background-image: url("bg_70_4_80_1_70.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    /*opacity: 0.4;*/
    z-index: -2;
}

body {
    height: 100%;
    overflow: auto;
}


select, input {
    text-align: center;
    text-align-last: center;
}

option {
    text-align: center;
}

button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    border-radius: 31px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    outline: none;
    border: none;
    background-color: #EBA91B;
}

form {
    width: 100%;
    display: block;
    font-size: 30px;
    color: #e8c517;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 145px;
    margin: 0 auto;
}

#background_logo {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    /*background-image: url("https://www.logolynx.com/images/logolynx/0c/0c23f35a7edaf493e331dc9900d7741e.png");*/
    background-image: url("logo_60.png");
    background-position: center;
    opacity: 0.4;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5%;
    z-index: -1;
}

input.input_field, select {
    height: 62px;
    padding: 0 35px 0 35px;
}

input::-webkit-input-placeholder {
    color: #EBA91B;
    text-align: center;
}

input:-moz-placeholder {
    color: #EBA91B;
    text-align: center;
}

input::-moz-placeholder {
    color: #EBA91B;
    text-align: center;
}

input:-ms-input-placeholder {
    color: #EBA91B;
    text-align: center;
}

.input_field_wrapper {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.input_field {
    position: relative;
    width: 50%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 31px;
    opacity: 0.80;
    font-size: 18px;
    color: #EBA91B;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 3px solid black;
}

.input_field:hover, .input_field:focus {
    opacity: 1;
    border-radius: 28px;
}

.page_container {
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button:hover {
    cursor: pointer;
}



.form-title {
    position: relative;
    display: block;
    color: #EBA91B;
    margin: 5% auto 5% auto;
    -webkit-text-stroke: 2px black;
    font-size: 2em;
    text-align: center;
    align-content: center;
    text-shadow: 10px 10px 5px black;
    font-weight: 100;
    transition: all 0.5s;
    bottom: 5px;
}

.btn-group {
    z-index: 10;
}

button.contact100-form-btn {
    margin: 0 auto;
}

.btn {
    opacity: 0.75;
}

.contact100-form-btn:hover {
    background-color: #403866;
    width: 40%;
}

input:focus, select:focus {
    outline: none;
}

input[type=time]::-webkit-inner-spin-button {
    cursor: pointer;
    height: 50px;
    margin: 11%;
}

input[type=time] {
    padding-left: 20%;
}

@media only screen and (max-width: 600px) {
    input:Before {
        position: relative;
        right: 0;
    }

    #background_logo {
        top: 9%;
        opacity: 0.5;
    }
}

tr {
    text-align: center;
    border: 10px blue solid;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th {
    padding: 2%;
}

h2 {
    text-align: center;
}


span.form-title:hover {
    text-shadow: 10px 10px 5px black;
}

span.form-title:hover {
    text-shadow: 8px 8px 5px black;
}

button:hover {
    background: rgba(235, 169, 27, 1);
    box-shadow: 0 0 5px white;
}


div#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.6;
    overflow: hidden;
    z-index: -1;
}


label {
    float: left;
    width: 50%;

}

table.table {
    width: 80%;
    margin: 0 auto 0 auto;
    border: 2px black dashed;
}

tbody tr:nth-child(even) {
    background: rgba(184, 119, 0, 0.7);
    color: #e8c517;
    FONT-WEIGHT: 200;
}


.error_message {
    color: rgba(255, 180, 120, 0.75);
    font-size: 28pt;
}


.no_results{
    color: rgba(255, 180, 120, 0.75);
    font-size: 28pt;
}