* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: monospace;
}


body {
    height: 100%;
    overflow: auto;
}


select, input {
    text-align: center;
    text-align-last: center;
}

option {
    text-align: center;
}

button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    border-radius: 31px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    outline: none;
    border: none;
    background-color: #bf8a19;
    font-size: 100%;
}

form {
    width: 100%;
    display: block;
    font-size: 30px;
    color: #e8c517;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 75px;
    margin: 0 auto;
}

#background_logo {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    /*background-image: url("https://www.logolynx.com/images/logolynx/0c/0c23f35a7edaf493e331dc9900d7741e.png");*/
    background-image: url("../img/logo-tiny.png");
    background-position: center;
    opacity: 0.4;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5%;
    z-index: -1;
}

#background_image {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-image: url("../img/bg.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


input.input_field, select {
    height: 62px;
    padding: 0 35px 0 35px;
}

input::-webkit-input-placeholder {
    color: #EBA91B;
    text-align: center;
}

input:-moz-placeholder {
    color: #EBA91B;
    text-align: center;
}

input::-moz-placeholder {
    color: #EBA91B;
    text-align: center;
}

input:-ms-input-placeholder {
    color: #EBA91B;
    text-align: center;
}

.input_field_wrapper {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.input_field {
    position: relative;
    width: 50%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 31px;
    opacity: 0.80;
    font-size: 18px;
    color: #EBA91B;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 3px solid black;
}

.input_field:hover, .input_field:focus {
    opacity: 1;
    border-radius: 28px;
}

.page_container {
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    width: 50%;
}

button:hover {
    cursor: pointer;
}


.form-title {
    position: relative;
    display: block;
    color: #EBA91B;
    /*margin: 5% -4% 5% auto;*/
    margin: 5% -8% 5% auto;
    -webkit-text-stroke: 1px black;
    font-size: 55pt;
    text-align: center;
    align-content: center;
    text-shadow: 10px 10px 5px black;
    font-weight: 100;
    transition: all 0.5s;
    bottom: 5px;
    width: 100%;
}

.btn-group {
    z-index: 10;
}

button.contact100-form-btn {
    margin: 0 auto;
}

.btn {
    opacity: 0.75;
}

.contact100-form-btn:hover {
    background-color: #403866;
    width: 40%;
}

input:focus, select:focus {
    outline: none;
}

input[type=time]::-webkit-inner-spin-button {
    cursor: pointer;
    height: 50px;
    margin: 11%;
}

input[type=time] {
    padding-left: 14%;
}

tr {
    text-align: center;
    border: 10px blue solid;
    background-color: bisque;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th {
    padding: 2%;
}

h2 {
    text-align: center;
}


span.form-title:hover {
    text-shadow: 10px 10px 5px black;
}

span.form-title:hover {
    text-shadow: 8px 8px 5px black;
}

button:hover {
    background: rgba(235, 169, 27, 1);
    box-shadow: 0 0 5px white;
}


div#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    overflow: hidden;
    z-index: -1;
}


label {
    float: left;
    width: 50%;
    line-height: 55px;
    font-size: 18pt;
    color: #EBA91B;
}

table.table {
    width: 100%;
    margin: 0 auto 75px auto;
    border: 2px black dashed;
}

div#results {
    font-size: 18pt;
    width: 50%;
    margin: 0 0 0 30%;
}

tbody tr:nth-child(even) {
    background: rgba(184, 119, 0, 0.7);
    color: #e8c517;
    FONT-WEIGHT: 200;
}


.message {
    color: rgba(255, 180, 120, 0.75);
    font-size: 23pt;
    max-width: 75%;
    display: block;
    margin: 0 auto;
    text-align: left;
    margin: 2% 4% 0 auto;

}


.no_results {
    color: rgba(255, 180, 120, 0.75);
    font-size: 28pt;
}

.gray_text {
    color: gray;
}

.gray_bg {
    background-color: gray;
}

/*Mobile view specific*/
@media only screen and (max-width: 600px) {
    input:Before {
        position: relative;
        right: 0;
    }

    #background_logo {
        top: 9%;
        opacity: 0.5;
    }

    .page_container {
        width: 100%
    }

    .form-title {
        margin: auto;
        font-size: 50px;
    }

    .message {
        font-size: 18pt;
    }

    div#results {
        font-size: 14pt;
        width: 75%;
        margin: auto;
    }

    th {
        text-align: center;
        width: 10px;
        height: 35px;
    }

    .input_field {
        width: 75%
    }
}
